html,body{
	height: 100%;
	width: 100%;
	padding: 0;
}

.modal{
	position: fixed;
	margin-left: 25%;
	width: 50%;
	height: 40%;
	border: 2px solid gray;
	border-radius: 10px;
	z-index: 999;
	background-color: white;
	box-shadow: 8px 8px 8px gray;
	display: none;
}

.modal-head{
	height: 20%;
	border-bottom: 1px solid gray;
}
.modal-head .title{
	text-align: center;
	font-size: 150%;
	line-height: 50px;
}

.modal-body{
	height: 60%;
	border-bottom: 1px solid gray;
}

.modal-foot{
	height: 20%;
	padding: 3px;
}
.modal-foot input{
	float:　left;
}

.modal-foot .btnReset{
	margin-left: 60%;
	width: 15%;
	padding: 10px 10px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 10px;
	color: #000000;
}

.modal-foot .btnSubmit{
	margin-left: 5%;
	width: 15%;
	padding: 10px 10px;
	background-color: white;
	border: 1px solid #000000;
	border-radius: 10px;
	color: #000000;
}